@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../public/assets/imgs/);
    background-size: 100%;
}


/* Main */
.conteudo {
    margin-bottom: 15px;
    border-top: 0.4px solid #ffffff;
}

section.conteudo-principal {
    margin-top: 15px;
}

.tudo{
    margin: auto;
    justify-content: center;
    align-items: center ;
}

.btn_voto{
    position: relative;
    margin-top: 5%;
    margin-left:42%;
    align-items: center;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    height: 50vh;
    margin: 0px 300px 0px 300px;
    height: 50vh;
}


.conteudo2 {
    margin-bottom: 0px;
}

section.conteudo-principal2 {
    margin-top: 0px;
}


.grafico {
    margin-top: 50px;
    border-radius: 15px;
    width: 600px;
    height: 150px;
}

.conteudo-principal2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 32px;
    height: 50vh;
    margin: 0px 300px 0px 300px;
    height: 54vh;
}

.conteudo-principal3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    height: 90vh;
    margin: 0px 300px 0px 300px;
    height: 90vh;
}

.transicao {
    animation: transicao 2.5s;
    animation-timing-function: ease-in-out;
}

.caixa {
    
}

.conteudo-principal-caixa {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 50px;
    font-size: 28px;
    color: rgb(1, 68, 1);
    padding-top: 7%;
}

.conteudo-principal-titulo {
    margin-top: 5%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(1, 68, 1);
    font-weight: bold;
    font-size: 15px;
    padding: 0 50px 10px 0;
    text-decoration: none;
    transition: 0.2s;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
}

.conteudo-principal-titulo::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s ease-in-out;
    border-radius: 40px;
}

.conteudo-principal-titulo:hover::after {
    width: 100%;
}

.conteudo-principal-titulo:hover {
    opacity: 1;
}

.conteudo-principal-imagem {
    height: 100px;
    width: 50px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.conteudo-principal-imagem:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.conteudo-principal-escrito-botao2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 30px;
    border-radius: 13px;
    background-color: rgb(1, 68, 1);
    color: #fff;
    
}
.conteudo-principal-escrito-botao2:hover{
    transform: scale(1.05);
}


.conteudo-principal-escrito-botao3 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    
    
}
.rodape{
    padding: 30px;
    border-top: 0.4px solid #fff;
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 57, 57, 0.363);
    
    
}
.rodape-conteudo {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.rodape-conteudo-barra {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
}

.rodape-conteudo-titulo {
    font-weight: bold;
    color: white;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
}

.rodape-conteudo-sessao {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.rodape-direito {
    padding-top: 50px;
}

.rodape-conteudo-ancora {
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

.rodape-imagem {
    height: 48px;
    align-self: center;
    display: block;
    margin: auto;
}

.rodape-conteudo-imagem p {
    font-style: italic;
    display: flex;
}

